@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
#btnSelectnivel,#btnColeccion,#btnPerfil,#btnObtenerJuego,#btnLogin,#btnHome1,#btnHome2{
    background-color: #4e3757;
    border-color:#4e3757;
    color: white;
    margin-left: 1rem;
}
#btnSelectnivel:hover,#btnColeccion:hover,#btnPerfil:hover,#btnObtenerJuego:hover,#btnLogin:hover,#btnHome1:hover,#btnHome2:hover{
    background-color: #918897;
    border-color: #918897;
}
#app {
    font-family: 'Hammersmith One', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
body{
    background-color: aliceblue;
}
.formulario{
    background-color: #CDB9D6;
    color: #111011;
}
.form{
    border-color: black;
    border-width: 2px;
    border-style: double;
}
input:invalid {
    border: 2px solid red;
}
input:valid {
    border: 2px solid black;
}